<html>

<head>
    <title>Hello Flask</title>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
<div id="page-container">
		<div id="content-wrap">
			<header>

				<div class="navbar-fixed">
					<nav class="indigo darken-4">
						<div class="nav-wrapper">
							<a href="{{url_for('index')}}" class="brand-logo center">My English Kitchen </a>
							<a href="#" data-target="mobile-demo"
								class="sidenav-trigger"><i class="material-icons">menu</i></a>
							<ul class="right hide-on-med-and-down">
								<li><a href="{{url_for('index')}}">Home</a></li>
								
							</ul>
						</div>
					</nav>
				</div>

				<ul class="sidenav" id="mobile-demo">
					<li><a href="{{url_for('index')}}">Home</a></li>
			
					
				</ul>
   

			</header>


    <!-- Main Content -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <hr>

    <!-- Footer -->
  
     <footer class="page-footer">
          <div class="container" style= "background-color:#ffe5b4;">
            <div class="row">
         <div class="col l6 s12">
                <h5 class="black-text">Peaches in the summer</h5>
                <p class="black-text text-lighten-4">Peaches in the summer was established to provide an online home for English seasonal recipes and for the viewer to add their own favorites. We look forward to reading your choices.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black -text" >Follow Us</h5>
                <a href="https://www.instagram.com/" target="_blank"><img src="/static/images/instagram-icon.png" alt="Instagram"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="/static/images/facebook-icon.png" alt="Facebook"></a>
                <a href="https://www.twitter.com/" target="_blank"><img src="/static/images/twitter-icon.png" alt="Twitter"></a>
                <a href="https://www.pinterest.com/" target="_blank"><img src="/static/images/pinterest-icon.png" alt="Pinterest"></a>
              </div>
           </div>
            </div>
        
          <div class="footer-copyright">
            <div class="container">
        
                    <p class="copyright text-muted">Copyright &copy; Margaret Woods 2020</p>
                </div>
            </div>
      
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
     <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        })
    </script>
</body>

</html>
