{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
<div class="row s12 m12" id="intropic">

<img src="https://www.thebalancecareers.com/thmb/WWiegaOXFEWN1VKsDUYiE9scvsI=/400x250/filters:no_upscale():max_bytes(150000):strip_icc()/recipe-notes-cookbook-56a79db75f9b58b7d0ec23bd.jpg">
</div>
</div>
<div class="container-fluid">
	<div class="row valign-wrapper">
		<div class="col s12 valign">
			<h2 class="mainHeading center">Welcome to Peaches in the Summer!</h2>
			<p class="homePageText center">
            <p>'Peaches in the Summer' was founded in early 2020 to celebrate and record English seasonal recipes. In this online cookery book, you'll find Easter rabbit biscuits, learn how to crystallise flowers, celebrate winter with a slice or two of a stunning chocolate and gold cake, or make your own maple and pecan leaves.</p>
<p>But we want you also to add, and edit your own recipes, perhaps your grandmother's pumpkin soup with sage butter, or that glorious 'Devil's Food cake' you discovered on a trip to the Lake District.</p>
<p>It's up to you, but, above all, have fun!</p> 
			</p>
		</div>
	</div>
</div>

<hr class="block-dividerHome">

 
     
{% endblock %}
